/L1/L1/Debug
/L2/L2/Debug
/L2_With_HW/L2/Debug
/L3/L3/Debug
/L4/L4/Debug
/L3_With_HW/L3/Debug
/L1/.vs/L1/v14/.atsuo
/L2/.vs/L2/v14/.atsuo
/L3/.vs/L3/v14/.atsuo
/L3_With_HW/.vs/L3/v14/.atsuo
/L4/.vs/L4/v14/.atsuo
/Disc7SegPrj/Disc7SegPrj/Debug
/Disc7SegPrj/.vs/Disc7SegPrj/v14/.atsuo
